<div class="flex flex-col h-screen bg-gray-100">
  <!-- Toolbar -->
  <div class="bg-white shadow-md p-2 flex items-center justify-center">
    <button mat-icon-button color="primary" matTooltip="Seleccionar" [ngClass]="{'selected': selectedTool === 'select'}"
      (click)="selectTool('select')">
        <mat-icon>near_me</mat-icon>
      </button>
    <button mat-icon-button color="primary"  [matMenuTriggerFor]="menu">
      <mat-icon>
        @switch (this.selectedTool) {
          @case ("rectangle") {
            crop_5_4
          }
          @case ("circle") {
            radio_button_unchecked
          }
          @case ("line") {
            show_chart
          }
          @case ("triangle") {
            signal_cellular_0_bar
          }
          @default {
            close
          }
        }
      </mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [ngClass]="{'selected': selectedTool === 'rectangle'}"
      (click)="selectTool('rectangle')">
        <mat-icon>crop_5_4</mat-icon>
        <span>Rectangle</span>
      </button>
      <button mat-menu-item [ngClass]="{'selected': selectedTool === 'circle'}"
      (click)="selectTool('circle')">
        <mat-icon>radio_button_unchecked</mat-icon>
        <span>Circle</span>
      </button>
      <button mat-menu-item [ngClass]="{'selected': selectedTool === 'circle'}"
      (click)="selectTool('circle')">
        <mat-icon>show_chart</mat-icon>
        <span>Línea</span>
      </button>

      <button mat-menu-item [ngClass]="{'selected': selectedTool === 'triangle'}"
      (click)="selectTool('triangle')">
        <mat-icon>signal_cellular_0_bar</mat-icon>
        <span>triangulo</span>
      </button>
    </mat-menu>

    <button mat-icon-button color="primary" class="mr-2" matTooltip="Textos">
      <mat-icon>text_fields</mat-icon>
    </button>
    <button mat-icon-button color="primary" class="mr-2" matTooltip="Dibujo libre">
      <mat-icon>{{ isDrawingMode ? 'edit_off' : 'edit' }}</mat-icon>
    </button>
    <button mat-icon-button color="primary" class="mr-2" matTooltip="Imagenes">
      <mat-icon>image</mat-icon>
    </button>

    <button mat-icon-button color="warn" class="mr-2" (click)="onDeleteClick()" matTooltip="Eliminar objetos">
      <mat-icon>delete</mat-icon>
    </button>

    <div class="flex items-center mr-4">
      <label class="mr-2">Fill:</label>
      <input type="color" [value]="currentColor" (change)="onColorChange($event)">
    </div>

    <div class="flex items-center mr-4">
      <label class="mr-2">Stroke:</label>
      <input type="color" [value]="currentColorStroke " (change)="onColorStrokeChange($event)">
    </div>
  </div>

  <!-- Canvas Area -->
  <div class="flex-grow p-4 overflow-auto">
    <canvas #fabricCanvas id="canvas"></canvas>
  </div>
</div>
